h1 NOTES

.row
  .small-8.columns
    h3 VIEW
    table#notes
      thead
        tr
          th(width='300') Title
          th(width='300') Date Created
          th(width='300') Tags
          th(width='100') Delete
      tbody
        tr(ng-repeat='note in notes')
          td: a(ui-sref='viewNote({noteId: note.note_id})') {{note.title}}
          td {{note.updated_at | date: medium}}
          td
            span.tag(ng-repeat='name in note.tag_names')
              a(href='/notes?tag={{name}}') {{name}}
          td: button(ng-click='deleteNote(note.id, $index)') X
  .small-4.columns
    h3 CREATE
    input(type='text', ng-model='note.title', placeholder='Title')
    textarea(ng-model='note.body')
    input(type='text', ng-model='note.tags', placeholder='tag1,tag2,tag3')
    button.radius.success(ng-click='create(note)') Create
.pagination-centered
  ul.pagination
    li.arrow.unavailable
      a(href='') &laquo;
      |   
      li.current
        a(href='') 1
      |   
      li
        a(href='') 2
      |   
      li
        a(href='') 3
      |   
      li
        a(href='') 4
      |   
      li.unavailable
        a(href='') &mldr;
      |   
      li
        a(href='') 6
      |   
      li
        a(href='') 7
      |   
      li.arrow
        a(href='') &raquo;
                        
